{% extends 'base.html' %}

{% block content %}
    <!-- <h1>{% block title %} About {% endblock %}</h1> -->
    <main class="container about my-5">
        <h2 class="my-3 fw-bold">🐶 Finding your perfect Pup with FetchMate</h2>
        <p>Here at FetchMate, our passion is helping match people with their ideal dog breeds.</p>
        <p>Getting a new furry friend into your home is an exciting adventure! Our fun and easy online quiz aims to make the process of selecting the right dog a little easier. It all starts with our 5-minute quiz. Just answer a few quick questions about your lifestyle and we'll then analyze your responses to recommend dog breeds that fit your unique needs. Learn about their temperaments, energy levels, size, grooming needs and more. You can even retake the quiz if you want to modify responses and get different results!</p>
        <p>We created FetchMate because we know choosing the perfect dog is about more than just appearance. You want one that will thrive in your home based on your ability to meet their needs. Our quiz offers a simple, engaging way to get matched with breeds that suit your lifestyle. Our goal is to make FetchMate the most comprehensive and user-friendly dog breed finder tool on the web.</p>
        <p>We hope you enjoy using FetchMate to find your new best friend! Please reach out if you have any suggestions for how we can enhance the experience.</p>
        <p>Woof-tastic regards,</p>
        <p class="fw-bold">The FetchMate Team 💚</p>
    </main>
{% endblock %}
