{% extends 'base.html' %}

{% block content %}
    <!-- <h1>{% block title %} Home {% endblock %}</h1> -->
    <section class="container hero">

        <div class="hero_wrapper">
            <img id="hero_image" src="{{ url_for('static', filename='img/' + image) }}" >
        </div>
        <div class="hero_text">
            <h2 class="mb-5" id="discover">Discover your pawfect match with FetchMate!</h2>
            <!-- <h3 id="subtitle">Take our quick lifestyle quiz to find the ideal dog for you!</h3> -->
            <h3 id="subsub">Just 8 fun lifestyle questions to get matched with compatible canines.</h3>

            <a href="/quiz"><button id="hero_button" type="button" class="btn btn-outline-success btn-lg fw-bold my-5">🐶 Take the QUIZ!</button></a>
        </div>

    </section>

{% endblock %}
