{% extends 'base.html' %}

{% block content %}
    <!-- <h1>{% block title %} Quiz {% endblock %}</h1> -->
    <main class="container quiz">
      <form action="/results" id="quiz_form">
        {% for idx, question in questions %}
        <div id="question-{{ idx }}" class="question card bg-light mb-3" style="width: 50rem; display: none;">
            <div class="card-header quiz-header">
              <h3>{{ question.question_text }}</h3>
            </div>
            <ul class="list-group list-group-flush answers">
              <li class="list-group-item">
                <input id="answer_{{ idx }}_1" type="radio" required name="{{ question.param }}" value="{{ question.value_1 }}">
                <label for="answer_{{ idx }}_1">{{ question.answer_1 }}</label>
              </li>
              <li class="list-group-item">
                <input id="answer_{{ idx }}_2" type="radio" required name="{{ question.param }}" value="{{ question.value_2 }}">
                <label for="answer_{{ idx }}_2">{{ question.answer_2 }}</label>
              </li>
              <li class="list-group-item">
                <input id="answer_{{ idx }}_3" type="radio" required name="{{ question.param }}" value="{{ question.value_3 }}">
                <label for="answer_{{ idx }}_3">{{ question.answer_3 }}</label>
              </li>
              <li class="list-group-item">
                <input id="answer_{{ idx }}_4" type="radio" required name="{{ question.param }}" value="{{ question.value_4 }}">
                <label for="answer_{{ idx }}_4">{{ question.answer_4 }}</label>
              </li>
              <li class="list-group-item">
                <input id="answer_{{ idx }}_5" type="radio" required name="{{ question.param }}" value="{{ question.value_5 }}">
                <label for="answer_{{ idx }}_5">{{ question.answer_5 }}</label>
              <li class="list-group-item">
                <input id="answer_{{ idx }}_6" type="radio" required name="{{ question.param }}" value="{{ question.value_6 }}">
                <label for="answer_{{ idx }}_6">{{ question.answer_6 }}</label>
              </li>
            </ul>
          </div>
        {% endfor %}
        <button class="btn btn-light btn-lg" id="next-btn">Next</button>
      </form>

      <div id="loader"></div>
    </main>


<!-- JAVASCRIPT -->
<script type="text/javascript">


let currentQuestionIndex = 0;
document.getElementById('next-btn').onclick = loadNextQuestion;

function loadNextQuestion(event) {

  event.preventDefault()

  // If there is no next question submit the form
  const nextQuestionEl = document.getElementById('question-' + (currentQuestionIndex + 1));
  if (!nextQuestionEl) {
    document.getElementById('quiz_form').style.display='none'
    document.getElementById('loader').style.display='block'
    document.getElementById("quiz_form").submit();
    return;
  }

  const questionEl = document.getElementById("question-" + currentQuestionIndex);

  // Check if an answer was selected
  const checkedAnswers = questionEl.querySelectorAll('input[type=radio]:checked');

  if (checkedAnswers.length == 0) {
    alert("Please select an answer!")
    return;
  }

  // Hide previous question
  const previousQuestion = document.getElementById('question-' + currentQuestionIndex);
  previousQuestion.style.display = 'none';

  // Increment index
  currentQuestionIndex++;

  // Display new question
  displayQuestion(currentQuestionIndex);
}

function displayQuestion(index) {
  // Display question
  const questionEl = document.getElementById('question-' + index);

  const nextQuestionEl = document.getElementById('question-' + (index + 1));
  if (!nextQuestionEl) {
    document.getElementById('next-btn').innerText = 'Submit'
  }

  // Show question
  questionEl.style.display = 'block';
}

displayQuestion(currentQuestionIndex);

</script>
{% endblock %}
