:root {
    /* CSS HEX */
    --primary: #ff9f1c;
    --secondary: #2ec4b6;
    --bg-white: #FFFFFF;
    --bg-grey: #F2FCFC;
    --muted-b: #cbf3f0;
    --text: #4C4C4C;
    --muted: #ffbf69;
/*
    --secondary: #780000ff;
    --primary: #c1121fff;
    --bg-white: #FFFFFF;
    --bg-grey: #F2FCFC;
    --muted-b: #669bbcff;
    --text: #4C4C4C;
    --muted: #003049ff; */
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--bg-white) !important;
    color: var(--text);
}

body {
    margin: 0;
}

.content {
    margin: 0 !important;
}


/* NAVBAR */

.aboutlink {
    font-size: 2rem;
    font-family: 'Hagrid Trial', sans-serif;
}

.navbar {
    background-color: var(--secondary) !important;
}

.nav-link {
    background-color: transparent !important;
    color: var(--bg-white) !important;
    text-decoration: none;
    background-color: inherit;
    padding-left: 30px !important;
    padding-right: 40px !important;
}

.nav-link:hover {
    color: var(--muted) !important;
}

#logo {
    width: 20%;
    height: auto;
}

/* HOME */

.hero {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100vw !important;
    height: 100vh;
    max-height: 100vh;
    margin: 0 !important;
    text-align: center;
}

.hero_wrapper {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100svh;
}

#hero_image {
    filter: brightness(80%);
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: fill;
}

.hero_text {
    margin-top: 0 !important;
    z-index: 1;
    max-width: 90%;
    background-color: transparent !important;
}


h1, h2, h3, h4, p {
    background-color: transparent !important;
}

#discover {
    font-family: 'Hagrid Text Trial', sans-serif;
    margin-top: 0 !important;
    font-size: 3.6rem;
    color: var(--bg-white);
}

#subtitle {
    color: var(--bg-white);
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.3;
    text-shadow: -1px -1px 3px var(--text);

}

#subsub {
    color: var(--bg-white);
    /* font-weight: bold; */
    font-size: 2rem;
    line-height: 1.3;
    text-shadow: -1px -1px 3px var(--text);
}

#hero_button {
    padding: 3rem;
    line-height: 1;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: var(--text) 0px 8px 24px;
    background-color: var(--primary) !important;
    padding: 3rem;
    border: none;
    color: var(--bg-white);
    font-size: 2rem;
    font-family: 'Hagrid Trial', sans-serif;
}

#hero_button:hover {
    background-color: var(--muted) !important;

}

p {
    font-size: 1.5rem;
}


/* ABOUT */

.about {
    padding: 3% !important;
    background-color: var(--bg-grey) !important;
    border-radius: 0.3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


/* QUIZ */

.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.quiz-header {
    background-color: var(--muted-b) !important;
}

#next-btn:hover {
    background-color: #ffbf69 !important;
}

.answers li {
    padding: 1.7rem;
    font-size: 1rem;
}


/* QUIZ RESULT */
#quiz-result {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.breed-picture {
    height: 200px;
    width: 200px;
}

#social-share {
    padding-right: 50px;
}

.result-card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 0 !important;
}
